@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
  .required:after {
    content:" *";
    color: red;
  } 

  .indicator {
    padding: 5px;
    border: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #cdcdcd;
    border-top-color: #777;
    border-radius: 50%;
    display: inline-block;
    animation:spin 500ms linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .button-default {
    @apply flex bg-ts-blue-900 text-white items-center space-x-2 py-2 px-3 rounded-md text-sm;
  }

  .inputbox {
    @apply block shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-ts-blue-900;
  }
}